<div class="card-list-container py-5 d-flex">
  <div class="col-md-10 px-5">
    <h2>#<%= @tag.hashname %>（<%= @tag.posts.count %>件）の投稿</h2>
    <div class="row h-100">
      <% @posts.each do |post|%>
      <div class="col-sm-12 col-md-6">
        <%= render partial: 'index', locals:{ post: post } %>
      </div>
      <% end %>
    </div>
  </div>
</div>