<div class="container">
  <div class="row my-3">
    <div class="col-md-8 mx-auto">
      <h4>New Post</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 mx-auto">
      <%= render "public/shared/error_messages", resource: @post %>
      <%= form_with model: @post, url: posts_path do |f| %>
        <%= render "form", post: @post, user: @user, f: f %>
      <% end %>
    </div>
  </div>
</div>