<div class="container px-5 px-sm-0">
  <div class="row my-4">
    <h2>新規投稿</h2>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= render "admin/shared/error_messages", resource: @post %>
      <%= form_with model: @post, url: posts_path do |f| %>
        <%= render "form", post: @post, tags: @tags, f: f %>
      <% end %>
    </div>
  </div>
</div>