<table class="table table-bordered">
  <thead>
    <tr>
      <th>累計投稿数</th>
      <th>公開投稿数</th>
      <th>非公開投稿数</th>
      <th>累計停止数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @posts.count %></td>
      <td><%= @posts.where(is_active: true).count %></td>
      <td><%= @posts.where(is_active: false).count %></td>
      <td><%= @posts.where(is_banned: true).count %></td>
    </tr>
  </tbody>
</table>