<div class="container px-sm-0-md-5">
  <div class="row mt-4">
    <h3 class="ml-4">Uchinoko編集</h3>
  </div>
  <div class="row px-sm-0-md-5">
    <div class="col-md-8 px-sm-0-md-5">
      <%= render "admin/shared/error_messages", resource: @child %>
      <%= form_with model: @child, url: child_path(@child), method: :patch do |f| %>
        <%= render "public/children/form", child: @child, f: f %>
      <% end %>
    </div>
  </div>
</div>