<div class="container px-sm-0-md-5 px-sm-0">
  <div class="row mt-4">
    <div class="col-sm-12 mx-auto">
      <h4>users(人気順)</h4>
      <%= render 'public/users/index',users: @users %>
      <%= paginate @users %>
    </div>
  </div>
</div>
