<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>Favorite posts</h3>
      <%= render 'public/users/posts_table',posts: @posts %>
    </div>
  </div>
</div>
