<div class="container px-5 px-sm-0">
  <div class="row my-4">
    <h2>マイページ</h2>
  </div>
  <div class="row">
    <div class="col-md-3 mx-auto">
      <%= render "public/users/info", user: @user %>
    </div>
    <div class="col-md-8 mx-auto">
      <%= render "admin/shared/error_messages", resource: @user %>
      <%= render "public/children/index", children: @children %>
    </div>
  </div>
</div>